

h1{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 10px;


}
header{
    background-color: black;
    width: 100%;
    height: 35px;
    
 
    
}
body{
    background-color: #c4c4e8;
}

.form{
    width: 35%;
    height: auto;
    background-color: rgb(235, 232, 232);
    padding: 30px;
    margin: auto;
    border-radius: 10px ;
    border: 4px solid rgb(0, 0, 73);; 
   
}

p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
}
.boton {
    margin: auto;
    width: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: rgb(0, 0, 73);
    font-size: 18px;
    text-align: center; 
}
.cuadro{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.resultado{
    color:rgb(0, 0, 73);
    background-color: #c4c4e8;
}
